<!DOCTYPE html>
<html lang="en" ng-app="filterList">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
	<title>Document</title>
</head>
<body ng-controller="filterListController as list">
	<div>
		Search: <input type="text" ng-model="search">
		<ol>
			<li ng-repeat="item in list.items | filter : search">
				{{item.name}}
				<div ng-if="(list.items | filter : search).length == 1">
					<span >
						{{item.description}}
					</span>
					<img ng-src="{{item.image}}" alt="{{item.alt}}">
				</div>
				
			</li>
		</ol>
	</div>
</body>
</html>